/*-------- 4. Banner style ---------*/
.banner-area{
  position: relative;
  padding: 290px 0;
  background-repeat: no-repeat;
  background-position: top right;
  background-size: auto;
  @media #{$lg-layout,$xs-layout} {
    padding: 290px 0 150px 0;
  }

  .container{
    max-width: 1170px;
  }
}
.left-side-banner{
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  height: 804px;
  left: 0;
  top: 30%;
  position: absolute;
  width: 172px;
  @media #{$xs-layout,$md-layout,$lg-layout} {
   display: none;
  }
  .circle{
    height: 105px;
    width: 105px;
    line-height: 105;
    border-radius: 50%;
    background-color: rgb(245, 147, 153);
    opacity: 0.502;
    position: absolute;
    top: 20%;
    right: 50%;
    transform: translate(50%,-50%);
    z-index: -1;
  }
}
.banner-caption-box{
  @media #{$lg-layout} {
    margin-left: 100px;
  }
  h1{
      font-size:$font-50;
      color: $platinum;
      font-weight: bold;
      line-height: 1.2;
    margin-bottom: 60px;
  }
  p{
    font-size: $font-18;
    line-height: 2.222;
    margin-bottom: 115px;
    opacity: 65%;
  }
  @media #{$lg-layout} {
    h1{
      color: $white;
    }
    p{
      color: $white;
    }
  }

  @media #{$xs-layout,$md-layout} {
  margin-left:0px;
  h1{
    color: $white;
  }
  p{
    color: $white;
  }
}

}
.blue-circle{
  height: 105px;
  width: 105px;
  line-height: 105;
  border-radius: 50%;
  background-color: rgb(82, 200, 249);
  opacity: 0.502;
  position: absolute;
  top: 63%;
  right: 55%;
  transform: translate(50%,-50%);
}