/*-------- 4. Blog style ---------*/
.blog-area{
  position: relative;
  padding: 100px 0 180px 0;
  @media #{$xs-layout,$md-layout,$lg-layout} {
    padding: 59px 0 100px 0;
  }
  &:before{
    content: '';
    position: absolute;
    background: url('#{$assetPath}/blog/blog-shape.png') no-repeat center left;
    -webkit-background-size: auto;
    -moz-background-size: auto;
    background-size: auto;
    width: 15%;
    height: 100%;
    left: 0;
    bottom: 0;
  }


  .container{
    max-width: 1170px;
  }
  .circle-blue{
    right: 21%;
    top: 79%;
    bottom: 0;
    height: 100px;
    width: 100px;
    line-height: 100px;
    z-index: 1;
    @media #{$md-layout,} {
      right: 11%;
      top: 94%;
    }
    @media #{$xs-layout,} {
      display: none;
    }
  }
}
.heading{
  font-weight: $bold;
}

.blog{
  position: relative;
  margin-bottom: 40px;
  .card{
    border: 0;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 27px 43px 0px rgba(32, 94, 171, 0.1);

  }
  .card-img{
    border-radius: 20px 20px 0 0;
    img{
      border: 0;
      border-radius: 20px 20px 0 0;
      padding: 0;
    }
  }
  .card-body{
    padding: 33px;
    h5{
      font-weight: $bold;
      line-height: 1.25;
      margin-bottom: 40px;
    }
    p{
      font-size: $font-18;
      color: #546e7a;
      line-height: 1.7;
    }
    .content{
      margin-bottom: 40px;
    }
    a{
      color: $blue;
      font-family: $opensans;
      font-size: $font-18;
      text-align: center;
      font-weight: $semi-bold;
      &:hover, &:focus {
        color: $platinum;
      }
    }

  }

}