/*-------- 5. Envision style ---------*/
.envision-area{
  overflow: hidden;
  position: relative;
  padding: 100px 0 50px 0;
  @media #{$xs-layout} {
    padding: 50px 0 50px 0;
  }
  h2{
    font-weight: $semi-bold;
    @media #{$xs-layout} {
      font-size: $font-26;
    }
  }
}