/*-------- 8. Footer style ---------*/
.footer-area {
  position: relative;
  overflow: hidden;
  padding-top: 50px;
  background: url('#{$assetPath}/bg/footer-bg.png') no-repeat center bottom;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  background-size: auto;
  @media #{$xs-layout} {
    background: #1254a4 url('#{$assetPath}/bg/footer-bg.png') no-repeat center bottom;
  }
  .title {
    color: $white;
    font-size: $font-18;
    font-weight: $bold;
    margin-bottom: 50px;
    text-transform: uppercase;
  }
}

address {
  color: $white;
  font-size: $font-size-base;
  line-height: 1.5;
  margin-bottom: 40px;
}

.mail-nfo {
  li {
    margin-bottom: 20px;
  }
  li > a {
    color: $white;
    font-size: $font-size-base;
    font-family: $opensans;
    &:hover, &:focus {
      color: $platinum;
    }
  }
}

.footer-menu {
  li {
    margin-bottom: 26px;
  }
  li > a {
    color: $white;
    font-size: $font-size-base;
    font-family: $opensans;
    &:hover, &:focus {
      color: $platinum;
    }

  }
}

.footer-top {

  .col {
    @media #{$md-layout} {
      flex-basis: 24.333%;
      margin-bottom: 30px;
    }
    @media #{$xs-layout} {
      flex-basis: auto;
      margin-bottom: 30px;
    }
  }
}

.footer-bottom {
  position: relative;
  padding: 80px 0;
  @media #{$xs-layout} {
    padding: 50px 0;
  }
}

.social-link > {
  li > a {
    color: $blue;
    font-size: $font-size-base;
    width: 40px;
    height: 40px;
    display: block;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    background-color: $white;
    &:hover, &:focus {
      background-color: $platinum;
      color: $white;
    }
  }
}

.news-latter-area {
  position: relative;
  padding: 80px 0px 100px 0;
  background: url('#{$assetPath}/bg/news-latter.png') no-repeat center center;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  background-size: auto;
  margin-bottom: 100px;
  border-radius: 20px;
  @media #{$md-layout} {
    margin-bottom: 20px;
  }
  @media #{$xs-layout} {
    padding: 30px 15px;
    margin-bottom: 40px;
  }
  .circle-red {
    height: 150px;
    width: 150px;
    line-height: 150px;
    z-index: 1;
    right: 0%;
    bottom: 12%;
    @media #{$xs-layout} {
      display: none;
    }
    @media #{$md-layout} {
      bottom: -11%;
    }
  }
  h2 {
    color: $white;
    font-weight: $semi-bold;
    @media #{$md-layout} {
      font-size: $font-34;
      margin-bottom: 40px;
    }
    @media #{$xs-layout} {
      font-size: $font-24;
      margin-bottom: 40px;
    }
  }

  .btn {
    background-color: rgb(0, 174, 255);
    box-shadow: 0px 22px 23.52px 0.48px rgba(17, 83, 165, 0.21);
    &:hover, &:focus {
      background-color: $platinum;
      color: $white;
    }
  }
}

.news-latter-form {
  max-width: 610px;
  margin: 0 auto;
  text-align: center;
  .form-group {
    margin-bottom: 40px;
  }
}

.form-control {
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  padding: 30px;
  color: $dark;
  font-size: $font-24;
  font-family: $opensans;
  box-shadow: none;
  outline: 0;
  &::-webkit-input-placeholder {
    color: #546e7a;
    opacity: 60%;
  }
  &::-moz-placeholder {
    color: #546e7a;
    opacity: 60%;
  }
  &:-ms-input-placeholder {
    color: #546e7a;
    opacity: 60%;
  }
  &:-moz-placeholder {
    color: #546e7a;
    opacity: 60%;
  }
}