/*-------- 3. header style ---------*/
.header-area{
  position: absolute;
  width: 100%;
  z-index: 99;
  margin-top: 70px;
  .navbar-brand{
    font-family: $opensans;
    font-size: $font-40;
    font-width: $bold;
    color: $platinum;
    height: 40px;
    @media #{$xs-layout,$md-layout,$lg-layout} {
      color: $white;
    }
    span{
      color: $blue;
    }
  }
  .navbar{
    padding: 0;
  }
  .navbar-light .navbar-nav .nav-link{
    color: $white;
    font-family: $opensans;
    font-size: $font-18;
    font-width: $bold;
    transition: .5s all;
    padding: 15px 20px;
    &:hover,&:focus{
      color: $blue;
      transition: .5s all;
      @media #{$xs-layout,$md-layout} {
        color: $platinum;
      }
    }
  }
  .navbar-light .navbar-nav .active>.nav-link{
    color: $blue;
    @media #{$xs-layout,$md-layout} {
      color: $platinum;
    }
  }
  .navbar-toggler{
    i{
      font-size: $font-30;
      color: $white;
    }
  }

}