/*-------- 6. Service style ---------*/
.service-area{
  position: relative;
  overflow: hidden;
  padding: 50px 0 545px;
  margin-bottom: -25%;
  @media #{$lg-layout} {
    padding: 50px 0 185px;
  }
  @media #{$xs-layout,$md-layout} {
    padding: 50px 0 160px;
  }
  &:before{
    content: '';
    position: absolute;
    background: url('#{$assetPath}/bg/bg-1.png') no-repeat center center;
    -webkit-background-size: auto;
    -moz-background-size: auto;
    background-size: auto;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;

  }
  &:after{
    content: '';
    position: absolute;
    background: url('#{$assetPath}/service/right-side-shape.png') no-repeat center center;
    -webkit-background-size: auto;
    -moz-background-size: auto;
    background-size: auto;
    width: 16%;
    height: 100%;
    right: 0;
    top: 0%;
    z-index: -1;
    @media #{$xs-layout,$md-layout} {
      display: none;
    }

  }
  .container{
    max-width: 1170px;
    .row{
      &:not(:first-child){
        margin-top: -150px;
        @media #{$xs-layout} {
          margin-top: 50px;
        }


      }
    }
  }
}
.circle-blue{
  height: 118px;
  width: 118px;
  line-height: 118;
  border-radius: 50%;
  background-color: #a6e2fa;
  opacity: 0.502;
  position: absolute;
  right: -5px;
  top: 5%;
  transform: translate(50%,-50%);
  z-index: -1;
}

.circle-red{
  height: 70px;
  width: 70px;
  line-height: 70;
  border-radius: 50%;
  background-color: rgb(245, 147, 153);
  opacity: 0.502;
  position: absolute;
  right: 4%;
  bottom: -16%;
  transform: translate(50%,-50%);
  z-index: -1;
}
.single-service{
  //padding: 40px 30px;
  .service-img{
    @media #{$xs-layout,$md-layout} {
      margin-bottom: 40px!important;
    }
  }

  h5{
    font-weight: $bold;
    margin-bottom: 60px;
    line-height: 1.498;
  }
  p{
    font-size: $font-18;
      color:#546e7a;
      line-height: 2;
  }
  .card{
    border: 0;
    background-color: rgb(255, 255, 255);
    position: relative;
  }
  .card-body{
      border-radius: 20px;
      background-color: rgb(255, 255, 255);
      box-shadow: 0px 27px 43px 0px rgba(32, 94, 171, 0.1);
      padding: 80px 70px;
    @media #{$xs-layout,$md-layout} {
      padding: 50px 40px;
    }


  }
}
.learn-more-btn{
  margin-top: 200px;
  @media #{$xs-layout,$md-layout} {
    margin-top: 100px;
  }
}