/*-------- 4. Banner style ---------*/
.support-area{
  position: relative;
  padding: 100px 0;
  background-repeat: no-repeat;
  background-position: top right;
  background-size: auto;
  @media #{$xs-layout} {
    padding: 50px 0 50px 0;
  }
  .container{
    max-width: 1170px;
  }
  .circle-red{
    height: 115px;
    width: 115px;
    line-height: 115px;
    left: 6%;
    right: auto;
    top: 65%;
    @media #{$xs-layout,$md-layout,$lg-layout} {
      display: none;
    }

  }

  h2{
      color: rgb(38, 50, 56);
      font-weight: bold;
      line-height: 1.389;
      text-align: center;
  }
}
.support-box{
  text-align: center;
  margin-bottom: 30px;
  @media #{$xs-layout,$md-layout} {
    padding: 30px 0;
    margin-bottom: 0px;
  }

  h6{
    font-size: $font-22;
    color: $dark;
  }
  h2{
    color: $blue;
    font-weight: $bold;
  }
}