

$dark-light: #636363;
$light: #4c4c4c;
$midnight: #282828;

$gray: #b1b1b1;
$bright-gray: #ebebeb;
$azure: #f0f9f9;
$sky-blue: #429edf;
$whitesmoke: #f0f2f9;
$ghostwhite: #f0f1f5;
$red: #df4243;


$black: #000000;
$black-light: #546e7a;
$dark: #263238;
$white: #ffffff;
$blue: #2870db;
$platinum: #1c2056;

$theme-color: #2870db;

$opensans: 'Open Sans', sans-serif;
$assetPath: "../img";

$font-size-base: 16px;
$font-18: ceil($font-size-base*1.125);
$font-20: ceil($font-size-base*1.25);
$font-22: ceil($font-size-base*1.375);
$font-24: ceil($font-size-base*1.5);
$font-26: ceil($font-size-base*1.625);
$font-28: ceil($font-size-base*1.75);
$font-30: ceil($font-size-base*1.875);
$font-32: ceil($font-size-base*2);
$font-34: ceil($font-size-base*2.125);
$font-36: ceil($font-size-base*2.25);
$font-38: ceil($font-size-base*2.375);
$font-40: ceil($font-size-base*2.5);
$font-42: ceil($font-size-base*2.625);
$font-44: ceil($font-size-base*2.75);
$font-46: ceil($font-size-base*2.875);
$font-48: ceil($font-size-base*3);
$font-50: ceil($font-size-base*3.125);
$font-52: ceil($font-size-base*3.25);
$font-54: ceil($font-size-base*3.375);
$font-56: ceil($font-size-base*3.5);
$font-58: ceil($font-size-base*3.625);
$font-60: ceil($font-size-base*3.75);


$thin: 100;
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black-weight: 900;


$xx-layout: 'only screen and (min-width: 1367px) and (max-width: 1600px)';
$xl-layout: 'only screen and (min-width: 1200px) and (max-width: 1366px)';
$lg-layout: 'only screen and (min-width: 992px) and (max-width: 1199px)';
$md-layout: 'only screen and (min-width: 768px) and (max-width: 991px)';
$xs-layout: 'only screen and (max-width: 767px)';
$sm-layout: 'only screen and (min-width: 576px) and (max-width: 767px)';
$xss-layout: 'only screen and (max-width: 480px)';



.single-testimonial {
    p {
        font-size: 16px;
        line-height: 32px;
        margin: 30px auto 32px;
        width: 80%;
        @media #{$xl-layout} {
            width: 90%;
        }
      }
}