/*!
Theme Name: Muncak
Theme URI: http://underscores.me/
Author: Puredevs
Author URI: http://puredevs.com/
Description: landing page
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: muncak
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Muncak is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/

/*--------------------------------------------------------------
>>> theme css:
----------------------------------------------------------------
*/

.inner-header{
    background-color: #0A246A;
    position: relative !important;
    margin: 0 !important;
    padding: 20px 0;
}