/*-----------------------------------------------------------------------------------
 Template Name: Muncak Version: 1

-----------------------------------------------------------------------------------  CSS INDEX ===================
	 1. Template default CSS 2. Slick style 3. Header style 4. Banner style 5. Secting title style 6. Product style 7. Testimonial style 8. Feature style 9. Blog style 10. Footer style
 
-----------------------------------------------------------------------------------*/
.single-testimonial p { font-size: 16px; line-height: 32px; margin: 30px auto 32px; width: 80%; }
@media only screen and (min-width: 1200px) and (max-width: 1366px) { .single-testimonial p { width: 90%; } }

/*  1. Template default CSS
/*----------------------------------------*/
*, *::after, *::before { box-sizing: border-box; }

html, body { height: 100%; }

body { background-color: #ffffff; line-height: 16px; font-size: 16px; font-style: normal; font-weight: 400; font-family: "Open Sans", sans-serif; color: #1f2226; }

h1, h2, h3, h4, h5, h6 { font-family: "Open Sans", sans-serif; font-weight: 400; margin-top: 0; color: #263238; }

h1 { font-size: 50px; }

h2 { font-size: 36px; }

h5 { font-size: 24px; }

p { margin-bottom: 16px; }
p:last-child { margin-bottom: 0; }

a, button { color: inherit; line-height: inherit; text-decoration: none; cursor: pointer; color: #263238; }

a, button, img, input, span { transition: all .3s ease 0s; }

*:focus { outline: none !important; }

a:focus { color: inherit; outline: none; text-decoration: none; }

a:hover { text-decoration: none; }

button, input[type="submit"] { cursor: pointer; }

ul { list-style: outside none none; margin: 0; padding: 0; }

.btn { padding: 24px 70px; font-size: 18px; font-family: "Open Sans", sans-serif; background-color: #2870db; color: #ffffff; border-radius: 60px; box-shadow: 0px 22px 23.52px 0.48px rgba(17, 83, 165, 0.21) !important; border: 0; box-shadow: none; transition: .5s all ease-out; }
.btn:hover, .btn:focus { background-color: #1c2056; color: #ffffff; transition: .5s all ease-in; }

.login-btn { padding: 15px 30px; font-size: 18px; font-family: "Open Sans", sans-serif; background-color: #ffffff; border-radius: 15px; line-height: 18px; border: 0; box-shadow: none; font-weight: 600; transition: .5s all ease-out; }
.login-btn:hover, .login-btn:focus { background-color: #546e7a; color: #ffffff; transition: .5s all ease-in; }

.img-fill { width: 100%; display: block; overflow: hidden; position: relative; text-align: center; }

/*--  - Common Classes
-----------------------------------------*/
.fix { overflow: hidden; }

.clear { clear: both; }

.section { float: left; width: 100%; }

.capitalize { text-transform: capitalize; }

.uppercase { text-transform: uppercase; }

.bg-img { background-position: center center; background-size: cover; }

/*-- -  Basic margin padding
-----------------------------------------*/
.m-0 { margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; }

.p-0 { padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; }

/*-- -   Margin top
-----------------------------------------*/
.mt-0 { margin-top: 0; }

.mt-10 { margin-top: 10px; }

.mt-12 { margin-top: 12px; }

.mt-15 { margin-top: 15px; }

.mt-20 { margin-top: 20px; }

.mt-25 { margin-top: 25px; }

.mt-30 { margin-top: 30px; }

.mt-35 { margin-top: 35px; }

.mt-40 { margin-top: 40px; }

.mt-45 { margin-top: 45px; }

.mt-50 { margin-top: 50px; }

.mt-55 { margin-top: 55px; }

.mt-60 { margin-top: 60px; }

.mt-70 { margin-top: 70px; }

.mt-80 { margin-top: 80px; }

.mt-90 { margin-top: 90px; }

.mt-100 { margin-top: 100px; }

.mt-110 { margin-top: 110px; }

.mt-120 { margin-top: 120px; }

.mt-130 { margin-top: 130px; }

.mt-140 { margin-top: 140px; }

.mt-150 { margin-top: 150px; }

/*-- -    Margin right
-----------------------------------------*/
.mr-0 { margin-right: 0px; }

.mr-10 { margin-right: 10px; }

.mr-12 { margin-right: 12px; }

.mr-15 { margin-right: 15px; }

.mr-20 { margin-right: 20px; }

.mr-30 { margin-right: 30px; }

.mr-35 { margin-right: 35px; }

.mr-40 { margin-right: 40px; }

.mr-50 { margin-right: 50px; }

.mr-60 { margin-right: 60px; }

.mr-70 { margin-right: 70px; }

.mr-80 { margin-right: 80px; }

.mr-90 { margin-right: 90px; }

.mr-100 { margin-right: 100px; }

.mr-110 { margin-right: 110px; }

.mr-120 { margin-right: 120px; }

.mr-130 { margin-right: 130px; }

.mr-140 { margin-right: 140px; }

.mr-150 { margin-right: 150px; }

/*-- -    Margin bottom
-----------------------------------------*/
.mb-0 { margin-bottom: 0; }

.mb-10 { margin-bottom: 10px; }

.mb-12 { margin-bottom: 12px; }

.mb-15 { margin-bottom: 15px; }

.mb-20 { margin-bottom: 20px; }

.mb-25 { margin-bottom: 25px; }

.mb-30 { margin-bottom: 30px; }

.mb-35 { margin-bottom: 35px; }

.mb-40 { margin-bottom: 40px; }

.mb-45 { margin-bottom: 45px; }

.mb-50 { margin-bottom: 50px; }

.mb-55 { margin-bottom: 55px; }

.mb-60 { margin-bottom: 60px; }

.mb-65 { margin-bottom: 65px; }

.mb-70 { margin-bottom: 70px; }

.mb-75 { margin-bottom: 75px; }

.mb-80 { margin-bottom: 80px; }
@media only screen and (max-width: 767px) { .mb-80 { margin-bottom: 60px; } }

.mb-90 { margin-bottom: 90px; }

.mb-95 { margin-bottom: 95px; }

.mb-100 { margin-bottom: 100px; }
@media only screen and (max-width: 767px) { .mb-100 { margin-bottom: 50px; } }

.mb-110 { margin-bottom: 110px; }

.mb-120 { margin-bottom: 120px; }

.mb-130 { margin-bottom: 130px; }

.mb-140 { margin-bottom: 140px; }

.mb-150 { margin-bottom: 150px; }

/*-- -    Margin left
-----------------------------------------*/
.ml-0 { margin-left: 0; }

.ml-10 { margin-left: 10px; }

.ml-12 { margin-left: 12px; }

.ml-15 { margin-left: 15px; }

.ml-20 { margin-left: 20px; }

.ml-30 { margin-left: 30px; }

.ml-40 { margin-left: 40px; }

.ml-50 { margin-left: 50px; }

.ml-55 { margin-left: 55px; }

.ml-60 { margin-left: 60px; }

.ml-70 { margin-left: 70px; }

.ml-75 { margin-left: 75px; }

.ml-80 { margin-left: 80px; }

.ml-90 { margin-left: 90px; }

.ml-95 { margin-left: 95px; }

.ml-100 { margin-left: 100px; }

.ml-110 { margin-left: 110px; }

.ml-120 { margin-left: 120px; }

.ml-130 { margin-left: 130px; }

.ml-140 { margin-left: 140px; }

.ml-145 { margin-left: 145px; }

.ml-150 { margin-left: 150px; }

.ml-ntv5 { margin-left: -5px; }

/*-- -     Padding top
-----------------------------------------*/
.pt-0 { padding-top: 0; }

.pt-10 { padding-top: 10px; }

.pt-15 { padding-top: 15px; }

.pt-20 { padding-top: 20px; }

.pt-25 { padding-top: 25px; }

.pt-30 { padding-top: 30px; }

.pt-35 { padding-top: 35px; }

.pt-40 { padding-top: 40px; }

.pt-45 { padding-top: 45px; }

.pt-50 { padding-top: 50px; }

.pt-55 { padding-top: 55px; }

.pt-60 { padding-top: 60px; }

.pt-70 { padding-top: 70px; }

.pt-75 { padding-top: 75px; }

.pt-80 { padding-top: 80px; }
@media only screen and (max-width: 767px) { .pt-80 { padding-top: 50px; } }

.pt-95 { padding-top: 95px; }
@media only screen and (max-width: 767px) { .pt-95 { padding-top: 45px; } }

.pt-90 { padding-top: 90px; }

.pt-100 { padding-top: 100px; }
@media only screen and (max-width: 767px) { .pt-100 { padding-top: 50px; } }

.pt-105 { padding-top: 105px; }

.pt-110 { padding-top: 110px; }

.pt-115 { padding-top: 115px; }

.pt-120 { padding-top: 120px; }

.pt-125 { padding-top: 125px; }

.pt-128 { padding-top: 128px; }

.pt-130 { padding-top: 130px; }

.pt-135 { padding-top: 135px; }

.pt-140 { padding-top: 140px; }

.pt-150 { padding-top: 150px; }

.pt-155 { padding-top: 155px; }

.pt-170 { padding-top: 170px; }

.pt-180 { padding-top: 180px; }

.pt-205 { padding-top: 205px; }

.pt-230 { padding-top: 230px; }

.pt-270 { padding-top: 270px; }

.pt-240 { padding-top: 240px; }

.pt-365 { padding-top: 365px; }

.pt-370 { padding-top: 370px; }

.pt-380 { padding-top: 380px; }

/*-- -     Padding right
-----------------------------------------*/
.pr-0 { padding-right: 0; }

.pr-10 { padding-right: 10px; }

.pr-15 { padding-right: 15px; }

.pr-20 { padding-right: 20px; }

.pr-30 { padding-right: 30px; }

.pr-40 { padding-right: 40px; }

.pr-50 { padding-right: 50px; }

.pr-60 { padding-right: 60px; }

.pr-70 { padding-right: 70px; }

.pr-80 { padding-right: 80px; }

.pr-90 { padding-right: 90px; }

.pr-100 { padding-right: 100px; }

.pr-110 { padding-right: 110px; }

.pr-120 { padding-right: 120px; }

.pr-130 { padding-right: 130px; }

.pr-140 { padding-right: 140px; }

.pr-155 { padding-right: 155px; }

.pr-270 { padding-right: 270px; }

/*-- -     Padding bottom
-----------------------------------------*/
.pb-0 { padding-bottom: 0; }

.pb-10 { padding-bottom: 10px; }

.pb-15 { padding-bottom: 15px; }

.pb-20 { padding-bottom: 20px; }

.pb-25 { padding-bottom: 25px; }

.pb-30 { padding-bottom: 30px; }

.pb-35 { padding-bottom: 35px; }

.pb-40 { padding-bottom: 40px; }

.pb-45 { padding-bottom: 45px; }

.pb-50 { padding-bottom: 50px; }

.pb-55 { padding-bottom: 55px; }

.pb-60 { padding-bottom: 60px; }

.pb-65 { padding-bottom: 65px; }
@media only screen and (max-width: 767px) { .pb-65 { padding-bottom: 15px; } }

.pb-70 { padding-bottom: 70px; }
@media only screen and (max-width: 767px) { .pb-70 { padding-bottom: 20px; } }

.pb-80 { padding-bottom: 80px; }
@media only screen and (max-width: 767px) { .pb-80 { padding-bottom: 50px; } }

.pb-85 { padding-bottom: 85px; }

.pb-90 { padding-bottom: 90px; }

.pb-95 { padding-bottom: 95px; }
@media only screen and (max-width: 767px) { .pb-95 { padding-bottom: 55px; } }

.pb-100 { padding-bottom: 100px; }
@media only screen and (max-width: 767px) { .pb-100 { padding-bottom: 50px; } }

.pb-105 { padding-bottom: 105px; }

.pb-110 { padding-bottom: 110px; }

.pb-115 { padding-bottom: 115px; }

.pb-120 { padding-bottom: 120px; }
@media only screen and (max-width: 767px) { .pb-120 { padding-bottom: 50px; } }

.pb-125 { padding-bottom: 125px; }

.pb-130 { padding-bottom: 130px; }

.pb-135 { padding-bottom: 135px; }

.pb-140 { padding-bottom: 140px; }

.pb-145 { padding-bottom: 145px; }

.pb-150 { padding-bottom: 150px; }
@media only screen and (max-width: 767px) { .pb-150 { padding-bottom: 78px; } }

.pb-170 { padding-bottom: 170px; }

.pb-180 { padding-bottom: 180px; }

.pb-280 { padding-bottom: 280px; }

.pb-210 { padding-bottom: 210px; }

.pb-285 { padding-bottom: 285px; }

.pb-270 { padding-bottom: 270px; }

.pb-290 { padding-bottom: 290px; }

/*-- -     Padding left
-----------------------------------------*/
.pl-0 { padding-left: 0; }

.pl-10 { padding-left: 10px; }

.pl-15 { padding-left: 15px; }

.pl-20 { padding-left: 20px; }

.pl-30 { padding-left: 30px; }

.pl-40 { padding-left: 40px; }

.pl-50 { padding-left: 50px; }

.pl-60 { padding-left: 60px; }

.pl-70 { padding-left: 70px; }

.pl-80 { padding-left: 80px; }

.pl-90 { padding-left: 90px; }

.pl-100 { padding-left: 100px; }

.pl-110 { padding-left: 110px; }

.pl-120 { padding-left: 120px; }

.pl-130 { padding-left: 130px; }

.pl-140 { padding-left: 140px; }

.pl-150 { padding-left: 150px; }

.pl-155 { padding-left: 155px; }

.pl-190 { padding-left: 190px; }

/*-- -     Page section padding
-----------------------------------------*/
.ptb-0 { padding: 0; }

.ptb-10 { padding: 10px 0; }

.ptb-20 { padding: 20px 0; }

.ptb-30 { padding: 30px 0; }

.ptb-35 { padding: 35px 0; }

.ptb-32 { padding: 32px 0; }

.ptb-40 { padding: 40px 0; }

.ptb-50 { padding: 50px 0; }

.ptb-60 { padding: 60px 0; }

.ptb-70 { padding: 70px 0; }

.ptb-80 { padding: 80px 0; }

.ptb-90 { padding: 90px 0; }

.ptb-100 { padding: 100px 0; }

.ptb-110 { padding: 110px 0; }

.ptb-120 { padding: 120px 0; }

.ptb-130 { padding: 130px 0; }

.ptb-140 { padding: 140px 0; }

.ptb-150 { padding: 150px 0; }

.ptb-160 { padding: 160px 0; }

.ptb-170 { padding: 170px 0; }

.ptb-177 { padding: 177px 0; }

.ptb-180 { padding: 180px 0; }

.ptb-190 { padding: 190px 0; }

.ptb-200 { padding: 200px 0; }

.ptb-210 { padding: 210px 0; }

.ptb-220 { padding: 220px 0; }

.ptb-290 { padding: 290px 0; }

.ptb-310 { padding: 310px 0; }

/*-- -     Page section margin
-----------------------------------------*/
.mtb-0 { margin: 0; }

.mtb-10 { margin: 10px 0; }

.mtb-15 { margin: 15px 0; }

.mtb-20 { margin: 20px 0; }

.mtb-30 { margin: 30px 0; }

.mtb-40 { margin: 40px 0; }

.mtb-50 { margin: 50px 0; }

.mtb-60 { margin: 60px 0; }

.mtb-70 { margin: 70px 0; }

.mtb-80 { margin: 80px 0; }

.mtb-90 { margin: 90px 0; }

.mtb-100 { margin: 100px 0; }

.mtb-110 { margin: 110px 0; }

.mtb-120 { margin: 120px 0; }

.mtb-130 { margin: 130px 0; }

.mtb-140 { margin: 140px 0; }

.mtb-150 { margin: 150px 0; }

.mtb-290 { margin: 290px 0; }

/*--  - Input Placeholder
-----------------------------------------*/
input:-moz-placeholder, textarea:-moz-placeholder { opacity: 1; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { opacity: 1; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }

input::-moz-placeholder, textarea::-moz-placeholder { opacity: 1; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder { opacity: 1; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }

input { background: #eceff8; border: 2px solid #eceff8; height: 45px; box-shadow: none; padding-left: 10px; font-size: 14px; color: #333; width: 100%; }

select { width: 100%; background: transparent; border: 0px solid #eceff8; box-shadow: none; font-size: 14px; color: #333; }

option { background: #fff; border: 0px solid #626262; padding-left: 10px; font-size: 14px; }

input:focus { background: transparent; }

textarea { resize: vertical; background: #eceff8; border: 2px solid #eceff8; padding: 10px; width: 100%; font-size: 14px; }

textarea:focus { background: transparent; border: 2px solid #4FC1F0; outline: none; }

.input-group.divcenter.input-group .form-control { padding-left: 0px; }

.container { max-width: 1404px; }

/*-------- 3. header style ---------*/
.header-area { position: absolute; width: 100%; z-index: 99; margin-top: 70px; }
.header-area .navbar-brand { font-family: "Open Sans", sans-serif; font-size: 40px; font-width: 700; color: #1c2056; height: 40px; }
@media only screen and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 992px) and (max-width: 1199px) { .header-area .navbar-brand { color: #ffffff; } }
.header-area .navbar-brand span { color: #2870db; }
.header-area .navbar { padding: 0; }
.header-area .navbar-light .navbar-nav .nav-link { color: #ffffff; font-family: "Open Sans", sans-serif; font-size: 18px; font-width: 700; transition: .5s all; padding: 15px 20px; }
.header-area .navbar-light .navbar-nav .nav-link:hover, .header-area .navbar-light .navbar-nav .nav-link:focus { color: #2870db; transition: .5s all; }
@media only screen and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 991px) { .header-area .navbar-light .navbar-nav .nav-link:hover, .header-area .navbar-light .navbar-nav .nav-link:focus { color: #1c2056; } }
.header-area .navbar-light .navbar-nav .active > .nav-link { color: #2870db; }
@media only screen and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 991px) { .header-area .navbar-light .navbar-nav .active > .nav-link { color: #1c2056; } }
.header-area .navbar-toggler i { font-size: 30px; color: #ffffff; }

/*-------- 4. Banner style ---------*/
.banner-area { position: relative; padding: 290px 0; background-repeat: no-repeat; background-position: top right; background-size: auto; }
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (max-width: 767px) { .banner-area { padding: 290px 0 150px 0; } }
.banner-area .container { max-width: 1170px; }

.left-side-banner { background-repeat: no-repeat; background-position: center; background-size: auto; height: 804px; left: 0; top: 30%; position: absolute; width: 172px; }
@media only screen and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 992px) and (max-width: 1199px) { .left-side-banner { display: none; } }
.left-side-banner .circle { height: 105px; width: 105px; line-height: 105; border-radius: 50%; background-color: #f59399; opacity: 0.502; position: absolute; top: 20%; right: 50%; transform: translate(50%, -50%); z-index: -1; }

@media only screen and (min-width: 992px) and (max-width: 1199px) { .banner-caption-box { margin-left: 100px; } }
.banner-caption-box h1 { font-size: 50px; color: #1c2056; font-weight: bold; line-height: 1.2; margin-bottom: 60px; }
.banner-caption-box p { font-size: 18px; line-height: 2.222; margin-bottom: 115px; opacity: 65%; }
@media only screen and (min-width: 992px) and (max-width: 1199px) { .banner-caption-box h1 { color: #ffffff; }
  .banner-caption-box p { color: #ffffff; } }
@media only screen and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 991px) { .banner-caption-box { margin-left: 0px; }
  .banner-caption-box h1 { color: #ffffff; }
  .banner-caption-box p { color: #ffffff; } }

.blue-circle { height: 105px; width: 105px; line-height: 105; border-radius: 50%; background-color: #52c8f9; opacity: 0.502; position: absolute; top: 63%; right: 55%; transform: translate(50%, -50%); }

/*-------- 5. Envision style ---------*/
.envision-area { overflow: hidden; position: relative; padding: 100px 0 50px 0; }
@media only screen and (max-width: 767px) { .envision-area { padding: 50px 0 50px 0; } }
.envision-area h2 { font-weight: 600; }
@media only screen and (max-width: 767px) { .envision-area h2 { font-size: 26px; } }

/*-------- 4. Banner style ---------*/
.support-area { position: relative; padding: 100px 0; background-repeat: no-repeat; background-position: top right; background-size: auto; }
@media only screen and (max-width: 767px) { .support-area { padding: 50px 0 50px 0; } }
.support-area .container { max-width: 1170px; }
.support-area .circle-red { height: 115px; width: 115px; line-height: 115px; left: 6%; right: auto; top: 65%; }
@media only screen and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 992px) and (max-width: 1199px) { .support-area .circle-red { display: none; } }
.support-area h2 { color: #263238; font-weight: bold; line-height: 1.389; text-align: center; }

.support-box { text-align: center; margin-bottom: 30px; }
@media only screen and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 991px) { .support-box { padding: 30px 0; margin-bottom: 0px; } }
.support-box h6 { font-size: 22px; color: #263238; }
.support-box h2 { color: #2870db; font-weight: 700; }

/*-------- 4. Blog style ---------*/
.blog-area { position: relative; padding: 100px 0 180px 0; }
@media only screen and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 992px) and (max-width: 1199px) { .blog-area { padding: 59px 0 100px 0; } }
.blog-area:before { content: ''; position: absolute; background: url("../img/blog/blog-shape.png") no-repeat center left; -webkit-background-size: auto; -moz-background-size: auto; background-size: auto; width: 15%; height: 100%; left: 0; bottom: 0; }
.blog-area .container { max-width: 1170px; }
.blog-area .circle-blue { right: 21%; top: 79%; bottom: 0; height: 100px; width: 100px; line-height: 100px; z-index: 1; }
@media only screen and (min-width: 768px) and (max-width: 991px) { .blog-area .circle-blue { right: 11%; top: 94%; } }
@media only screen and (max-width: 767px) { .blog-area .circle-blue { display: none; } }

.heading { font-weight: 700; }

.blog { position: relative; margin-bottom: 40px; }
.blog .card { border: 0; border-radius: 20px; background-color: white; box-shadow: 0px 27px 43px 0px rgba(32, 94, 171, 0.1); }
.blog .card-img { border-radius: 20px 20px 0 0; }
.blog .card-img img { border: 0; border-radius: 20px 20px 0 0; padding: 0; }
.blog .card-body { padding: 33px; }
.blog .card-body h5 { font-weight: 700; line-height: 1.25; margin-bottom: 40px; }
.blog .card-body p { font-size: 18px; color: #546e7a; line-height: 1.7; }
.blog .card-body .content { margin-bottom: 40px; }
.blog .card-body a { color: #2870db; font-family: "Open Sans", sans-serif; font-size: 18px; text-align: center; font-weight: 600; }
.blog .card-body a:hover, .blog .card-body a:focus { color: #1c2056; }

/*-------- 6. Service style ---------*/
.service-area { position: relative; overflow: hidden; padding: 50px 0 545px; margin-bottom: -25%; }
@media only screen and (min-width: 992px) and (max-width: 1199px) { .service-area { padding: 50px 0 185px; } }
@media only screen and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 991px) { .service-area { padding: 50px 0 160px; } }
.service-area:before { content: ''; position: absolute; background: url("../img/bg/bg-1.png") no-repeat center center; -webkit-background-size: auto; -moz-background-size: auto; background-size: auto; width: 100%; height: 100%; left: 0; bottom: 0; }
.service-area:after { content: ''; position: absolute; background: url("../img/service/right-side-shape.png") no-repeat center center; -webkit-background-size: auto; -moz-background-size: auto; background-size: auto; width: 16%; height: 100%; right: 0; top: 0%; z-index: -1; }
@media only screen and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 991px) { .service-area:after { display: none; } }
.service-area .container { max-width: 1170px; }
.service-area .container .row:not(:first-child) { margin-top: -150px; }
@media only screen and (max-width: 767px) { .service-area .container .row:not(:first-child) { margin-top: 50px; } }

.circle-blue { height: 118px; width: 118px; line-height: 118; border-radius: 50%; background-color: #a6e2fa; opacity: 0.502; position: absolute; right: -5px; top: 5%; transform: translate(50%, -50%); z-index: -1; }

.circle-red { height: 70px; width: 70px; line-height: 70; border-radius: 50%; background-color: #f59399; opacity: 0.502; position: absolute; right: 4%; bottom: -16%; transform: translate(50%, -50%); z-index: -1; }

@media only screen and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 991px) { .single-service .service-img { margin-bottom: 40px !important; } }
.single-service h5 { font-weight: 700; margin-bottom: 60px; line-height: 1.498; }
.single-service p { font-size: 18px; color: #546e7a; line-height: 2; }
.single-service .card { border: 0; background-color: white; position: relative; }
.single-service .card-body { border-radius: 20px; background-color: white; box-shadow: 0px 27px 43px 0px rgba(32, 94, 171, 0.1); padding: 80px 70px; }
@media only screen and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 991px) { .single-service .card-body { padding: 50px 40px; } }

.learn-more-btn { margin-top: 200px; }
@media only screen and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 991px) { .learn-more-btn { margin-top: 100px; } }

/*-------- 8. Footer style ---------*/
.footer-area { position: relative; overflow: hidden; padding-top: 50px; background: url("../img/bg/footer-bg.png") no-repeat center bottom; -webkit-background-size: auto; -moz-background-size: auto; background-size: auto; }
@media only screen and (max-width: 767px) { .footer-area { background: #1254a4 url("../img/bg/footer-bg.png") no-repeat center bottom; } }
.footer-area .title { color: #ffffff; font-size: 18px; font-weight: 700; margin-bottom: 50px; text-transform: uppercase; }

address { color: #ffffff; font-size: 16px; line-height: 1.5; margin-bottom: 40px; }

.mail-nfo li { margin-bottom: 20px; }
.mail-nfo li > a { color: #ffffff; font-size: 16px; font-family: "Open Sans", sans-serif; }
.mail-nfo li > a:hover, .mail-nfo li > a:focus { color: #1c2056; }

.footer-menu li { margin-bottom: 26px; }
.footer-menu li > a { color: #ffffff; font-size: 16px; font-family: "Open Sans", sans-serif; }
.footer-menu li > a:hover, .footer-menu li > a:focus { color: #1c2056; }

@media only screen and (min-width: 768px) and (max-width: 991px) { .footer-top .col { flex-basis: 24.333%; margin-bottom: 30px; } }
@media only screen and (max-width: 767px) { .footer-top .col { flex-basis: auto; margin-bottom: 30px; } }

.footer-bottom { position: relative; padding: 80px 0; }
@media only screen and (max-width: 767px) { .footer-bottom { padding: 50px 0; } }

.social-link > li > a { color: #2870db; font-size: 16px; width: 40px; height: 40px; display: block; line-height: 40px; border-radius: 50%; text-align: center; background-color: #ffffff; }
.social-link > li > a:hover, .social-link > li > a:focus { background-color: #1c2056; color: #ffffff; }

.news-latter-area { position: relative; padding: 80px 0px 100px 0; background: url("../img/bg/news-latter.png") no-repeat center center; -webkit-background-size: auto; -moz-background-size: auto; background-size: auto; margin-bottom: 100px; border-radius: 20px; }
@media only screen and (min-width: 768px) and (max-width: 991px) { .news-latter-area { margin-bottom: 20px; } }
@media only screen and (max-width: 767px) { .news-latter-area { padding: 30px 15px; margin-bottom: 40px; } }
.news-latter-area .circle-red { height: 150px; width: 150px; line-height: 150px; z-index: 1; right: 0%; bottom: 12%; }
@media only screen and (max-width: 767px) { .news-latter-area .circle-red { display: none; } }
@media only screen and (min-width: 768px) and (max-width: 991px) { .news-latter-area .circle-red { bottom: -11%; } }
.news-latter-area h2 { color: #ffffff; font-weight: 600; }
@media only screen and (min-width: 768px) and (max-width: 991px) { .news-latter-area h2 { font-size: 34px; margin-bottom: 40px; } }
@media only screen and (max-width: 767px) { .news-latter-area h2 { font-size: 24px; margin-bottom: 40px; } }
.news-latter-area .btn { background-color: #00aeff; box-shadow: 0px 22px 23.52px 0.48px rgba(17, 83, 165, 0.21); }
.news-latter-area .btn:hover, .news-latter-area .btn:focus { background-color: #1c2056; color: #ffffff; }

.news-latter-form { max-width: 610px; margin: 0 auto; text-align: center; }
.news-latter-form .form-group { margin-bottom: 40px; }

.form-control { border-radius: 20px; background-color: white; padding: 30px; color: #263238; font-size: 24px; font-family: "Open Sans", sans-serif; box-shadow: none; outline: 0; }
.form-control::-webkit-input-placeholder { color: #546e7a; opacity: 60%; }
.form-control::-moz-placeholder { color: #546e7a; opacity: 60%; }
.form-control:-ms-input-placeholder { color: #546e7a; opacity: 60%; }
.form-control:-moz-placeholder { color: #546e7a; opacity: 60%; }

/*# sourceMappingURL=style.css.map */
